apiVersion: apps/v1
kind: Deployment
metadata:
  name: load
  namespace: robot-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: load

  template:
    metadata:
      labels:
        app: load

    spec:
      containers:
        - name: load
          image: robotshop/rs-load
