apiVersion: v1
kind: ResourceQuota
metadata:
  name: robot-shop-quota
  namespace: robot-shop
spec:
  hard:
    pods: "20"
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
